
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0fdf4;
    color: #333;
    padding: 40px 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #166534;
}

.subtitle {
    text-align: center;
    color: #666;
    margin: 5px 0 20px;
}

.total {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.total b {
    color: #16a34a;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card:hover {
    border-color: #22c55e;
}

.icon {
    font-size: 35px;
}

.card h2 {
    color: #166534;
    margin: 10px 0;
}

.card p {
    color: #666;
    font-size: 14px;
    min-height: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 5px;
}

.bar {
    height: 7px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 15px;
}

.bar div {
    width: 0%;
    height: 100%;
    background-color: #22c55e;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #16a34a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #15803d;
}

.leader {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #bbf7d0;
}

.leader b {
    color: #16a34a;
}

.leader h2 {
    color: #166534;
    margin: 8px 0;
}

.leader p {
    color: #666;
}


@media (max-width: 800px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

